.background-container {
    color: #ffffff;
    padding: 100px 0;

    .main-container {
        display: flex;
        padding: 100px;
        align-items: center;
        flex-direction: column;
        border: 1px solid #ffffff;
        max-width: 1200px;
        margin: 0 auto;
        position: relative;
    
        .heading-container {
            text-align: center;

            .sub-heading {
                font-size: 18px;
                margin: 0;
                font-weight: 200;
            }

            .heading {
                font-size: 100px;
                margin: 0;
                font-weight: 400;
            }

            .drawn-arrow {
                width: 200px;
                height: auto;
                transform: rotate(55deg);
                position: absolute;
                left: 380px;
                top: 270px;
            }
        }

        .projects-container {
            width: 100%;
            margin: 75px 0 0 0;

            #list-tab {
                margin-right: 50px;

                .list-group-item {
                    background-color: transparent;
                    border: none;
                    border-bottom: 1px solid rgba(234, 242, 239, 0.3);
                    border-radius: 0;
                    color: rgba(234, 242, 239, 0.3);
                    font-size: 20px;
                    padding: 15px 20px;

                    &:hover {
                        color: #ffffff;
                    }

                    &.active {
                        border-bottom: 1px solid #ffffff;
                        color: #ffffff;
                    }

                }
            }

            #nav-tabContent {
                margin-left: 50px;

                .tab-pane {
                    background-position: center center;
                    background-size: cover;
                    background-repeat: no-repeat;
                    width: 100%;
                    height: 550px;
                    position: relative;

                    .sticker-animation {
                        transition: all 750ms ease-in-out;
                    }

                    .website-poster {
                        position: relative;
                        width: 550px;
                        height: 550px;
                        margin: 0 auto;
                        backface-visibility: hidden;

                        .sticky {
                            position: absolute;
                            top: 0;
                            left: 0;
                            width: 550px;
                            height: 550px;
                            transform: rotate(45deg);
                        }

                        .poster-wrapper {
                            position: absolute;
                            width: 550px;
                            height: 550px;
                            left: 0px;
                            top: 0px;
                            overflow: hidden;

                            .circle {
                                position: absolute;
                                width: 500px;
                                height:  500px;
                                margin: 20px;
                                border-radius: 999px;
                            }

                            &.reveal {
                                .circle {
                                    box-shadow: 0 1px 0px rgba(0,0,0,.15);
                                    text-align: center;
                                    cursor: pointer;
                                    background: rgba(0, 0, 0, 0.2);
                                    display: flex;
                                    align-items: center;
                                    justify-content: center;
                            
                                    .drawn-cta {
                                        width: 50%;
                                        height: auto;
                                        transform: rotate(45deg);
                                    }
                                }                            
                            }

                            &.front {
                                height: 470px;
                                bottom: 0;
                                top: auto; 
                                -webkit-box-shadow: 0 -140px 20px -140px rgba(0,0,0,.3);

                                .circle {
                                    margin-top: -55px;
                                    margin-left: 18px;
                                    background: transparent;
                                    background-image: -webkit-linear-gradient(bottom, rgba(251, 236, 63, 0) 75%, #131313 95%);
                                    background-image: -moz-linear-gradient(bottom, rgba(251, 236, 63, 0) 75%, #131313 95%);
                                    background-image: linear-gradient(bottom, rgba(251, 236, 63, 0) 75%, #131313 95%);

                                    .poster-image {
                                        width: 500px;
                                        height: 500px;
                                        border-radius: 50%;
                                        object-fit: cover;
                                        object-position: center center;
                                        transform: rotate(-45deg);
                                        padding: 15px;
                                        background-color: #ffffff;
                                    }
                                }
                            }

                            &.back {
                                height: 50px;
                                top: 79px;

                                .circle {
                                    margin-top: -450px;
                                    background-color: #131313;
                                    background-image: -webkit-linear-gradient(bottom, rgba(19, 19, 19, 0), rgba(0, 0, 0, 0.2));
                                }
                            }

                        }

                        &:hover,
                        &.peel-sticker {
                            cursor: pointer;

                            .sticky{
                                transform: rotate(30deg);
                            }

                            .poster-wrapper {
                                &.front {
                                    height: 195px;
                                    -webkit-box-shadow: 0 -60px 10px -60px rgba(0,0,0,.1);
                                    
                                    .circle {
                                        margin-top: -330px;
                                    }
                                }
    
                                &.back {
                                    height: 320px;
                                    top: 345px;
                                    left: -2px;
                                    
                                    .circle {
                                        margin-top: -180px;
                                    }
                                }
                            }
                        }

                        
                    }
                }
            }

            #contentModal {
                height: 100vh;
                align-items: center;
                justify-content: center;
                margin: 0;

                &.show {
                    display: flex !important;                
                }

                .modal-dialog {
                    max-width: 800px;
                    width: 800px;
                    background-color: #131313;

                    .modal-content {
                        padding: 30px;
                        border-radius: 0;
                        background-color: #131313;

                        .modal-body {
                            padding: 0;

                            .popup-image {
                                background-size: cover;
                                background-repeat: no-repeat;
                                background-position: top center;
                                background-attachment: scroll;
                                width: 100%;
                                height: 350px;
                                transition: background-position 5s ease;

                                &:hover {
                                    background-position: bottom center;
                                    transition: background-position 5s ease;
                                }
                            }

                            .popup-content {
                                margin: 20px 0 0 0;

                                .btn-close {
                                    display: block;
                                    opacity: 1;
                                    margin: 0 10px 0 auto;
                                }

                                .website-title {
                                    color: #ffffff;
                                    font-size: 35px;
                                    display: block;
                                    margin: 0;

                                    &:hover {
                                        color: #ffffff;
                                    }

                                    i {
                                        display: inline-block;
                                        font-size: 13px;
                                        margin-left: 5px;
                                        vertical-align: super;
                                    }
                                }

                                .website-info {
                                    color: #ffffff;
                                    font-size: 12px;
                                    margin: 0 0 20px 0;
                                }

                                .website-content {
                                    color: #ffffff;
                                    font-size: 14px;
                                    margin: 0;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 500px) { 

    .background-container {
        padding: 50px 0;
    
        .main-container {
            max-width: 300px;
            padding: 50px 20px;
        
            .heading-container {
    
                .sub-heading {
                    font-size: 13px;
                    line-height: 18px;
                }
    
                .heading {
                    font-size: 35px;
                }
    
                .drawn-arrow {
                    width: 180px;
                    top: 550px;
                    left: 100px;
                    transform: rotate(-85deg);
                }
            }
    
            .projects-container {
                margin: 25px 0 0 0;

                .col-sm-12 {
                    padding: 0;

                    #list-tab {
                        margin-right: 0;
                        flex-direction: row;
                        overflow: scroll;
        
                        .list-group-item {
                            font-size: 16px;
                            padding: 15px 20px;
                            white-space: nowrap;
                        }
                    }

                    #nav-tabContent {
                        margin-top: 40px;
                        margin-bottom: 180px;
                        margin-left: 0;
        
                        .tab-pane {
                            height: 250px;

                            .sticker-animation {
                                transition: all 1s ease-in-out;
                            }
        
                            .website-poster {
                                width: 230px;
                                height: 230px;
        
                                .sticky {
                                    width: 230px;
                                    height: 230px;
                                }
        
                                .poster-wrapper {
                                    width: 230px;
                                    height: 230px;
                                    
                                    .circle {
                                        width: 230px;
                                        height: 230px;
                                        margin: 0;
                                    }
        
                                    &.reveal {
                                        .circle {
                                            .drawn-cta {
                                                width: 50%;
                                            }
                                        }                            
                                    }
        
                                    &.front {
                                        height: 200px;
        
                                        .circle {
                                            margin-top: -30px;
                                            margin-left: 0px;
        
                                            .poster-image {
                                                width: 230px;
                                                height: 230px;
                                                padding: 5px;
                                            }
                                        }
                                    }
        
                                    &.back {
                                        height: 30px;
                                        top: 29px;
        
                                        .circle {
                                            margin-top: -200px;
                                        }
                                    }
        
                                }
        
                                &:hover,
                                &.peel-sticker {
                                    cursor: pointer;
        
                                    .poster-wrapper {
                                        &.front {
                                            height: 85px;
                                            
                                            .circle {
                                                margin-top: -145px;
                                            }
                                        }
            
                                        &.back {
                                            height: 150px;
                                            top: 144px;
                                            
                                            .circle {
                                                margin-top: -100px;
                                            }
                                        }
                                    }
                                }
        
                                
                            }
                        }
                    }
                }               
    
                #contentModal {
                    height: 100vh;
                    align-items: center;
                    justify-content: center;
                    margin: 0;
    
                    &.show {
                        display: flex !important;                
                    }
    
                    .modal-dialog {
                        max-width: 100%;
                        width: 100%;
    
                        .modal-content {
                            padding: 20px;
                            
                            .modal-body {
                                padding: 0;
                                max-height: 550px;
                                overflow-y: scroll;
    
                                .popup-image {
                                    // animation: image-scroll-no-hover 10s ease;
                                    animation-duration: 10s;
                                    animation-timing-function: ease;
                                    animation-delay: 0s;
                                    animation-iteration-count: 1;
                                    animation-direction: normal;
                                    animation-fill-mode: forwards;
                                    animation-play-state: running;
                                    animation-name: image-scroll-no-hover;

                                    -webkit-animation-duration: 10s;
                                    -webkit-animation-timing-function: ease;
                                    -webkit-animation-delay: 0s;
                                    -webkit-animation-iteration-count: 1;
                                    -webkit-animation-direction: normal;
                                    -webkit-animation-fill-mode: forwards;
                                    -webkit-animation-play-state: running;
                                    -webkit-animation-name: image-scroll-no-hover;
                                }
    
                                .popup-content {
                                    margin: 20px 0 0 0;
    
                                    .website-title {
                                        font-size: 30px;
                                        line-height: 40px;
                                    }
    
                                    .website-info {
                                        margin: 0 0 15px 0;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    .fade,
    .modal.fade .modal-dialog {
        transition-delay: 1s;
    }

    // .modal.fade .modal-dialog {
    //     transition: transform 1s ease-out
    // }
}

@keyframes image-scroll-no-hover {
    from { 
        background-position: top center;
    }
    to {
        background-position: bottom center;
    }
}