<div class="background-container">
  <div class="main-container">
    <div class="heading-container row">
      <div class="col-12">
        <h5 class="sub-heading">hello world, I'm</h5>
        <h1 class="heading">RHEA KUKRETI</h1>
        <h5 class="sub-heading">and I'm a web developer specialising in front-end and CMS web development. <br> Check out some of my favourite projects!</h5>
        <img class="drawn-arrow" src="/icons/arrow-white.png" alt="" />
      </div>
    </div>

      <div class="projects-container row">
        <!-- Vertical Tabs (List Group) -->
        <div class="col-md-4 col-sm-12">
          <div class="list-group" id="list-tab" role="tablist">
            <a
              class="list-group-item list-group-item-action active"
              id="list-waqa-tab"
              data-bs-toggle="list"
              href="#waqa"
              role="tab"
              aria-controls="home"
              (mouseenter)="onTabHover('waqa')"
              (click)="onTabClick('waqa')"
            >
              WAQA
            </a>
            <a
              class="list-group-item list-group-item-action"
              id="list-makaraetaga-tab"
              data-bs-toggle="list"
              href="#makaraetaga"
              role="tab"
              aria-controls="profile"
              (mouseenter)="onTabHover('makaraetaga')"
              (click)="onTabClick('makaraetaga')"
            >
              Makara e Taga
            </a>
            <a
              class="list-group-item list-group-item-action"
              id="list-vero-tab"
              data-bs-toggle="list"
              href="#vero"
              role="tab"
              aria-controls="profile"
              (mouseenter)="onTabHover('vero')"
              (click)="onTabClick('vero')"
            >
              Vero
            </a>
            <a
              class="list-group-item list-group-item-action"
              id="list-hala-tab"
              data-bs-toggle="list"
              href="#hala"
              role="tab"
              aria-controls="settings"
              (mouseenter)="onTabHover('hala')"
              (click)="onTabClick('hala')"
            >
              Hala
            </a>
            <a
              class="list-group-item list-group-item-action"
              id="list-mawkini-tab"
              data-bs-toggle="list"
              href="#mawkini"
              role="tab"
              aria-controls="settings"
              (mouseenter)="onTabHover('mawkini')"
              (click)="onTabClick('mawkini')"
            >
              Mawkini
            </a>
            <a
              class="list-group-item list-group-item-action"
              id="list-leather-tab"
              data-bs-toggle="list"
              href="#leather"
              role="tab"
              aria-controls="messages"
              (mouseenter)="onTabHover('leather')"
              (click)="onTabClick('leather')"
            >
              800 Leather
            </a>
            <a
              class="list-group-item list-group-item-action"
              id="list-va-tab"
              data-bs-toggle="list"
              href="#va"
              role="tab"
              aria-controls="profile"
              (mouseenter)="onTabHover('va')"
              (click)="onTabClick('va')"
            >
              Valeur Absolue
            </a>
            <!-- <a
              class="list-group-item list-group-item-action"
              id="list-polyafric-tab"
              data-bs-toggle="list"
              href="#polyafric"
              role="tab"
              aria-controls="settings"
              (mouseenter)="onTabHover('polyafric')"
              (click)="onTabClick('polyafric')"
            >
              Polyafric
            </a> -->
            <a
              class="list-group-item list-group-item-action"
              id="list-gotyolo-tab"
              data-bs-toggle="list"
              href="#gotyolo"
              role="tab"
              aria-controls="profile"
              (mouseenter)="onTabHover('gotyolo')"
              (click)="onTabClick('gotyolo')"
            >
              GoTyolo
            </a>
          </div>
        </div>
    
        <!-- Tab Content -->
        <div class="col-md-8 col-sm-12">
          <div class="tab-content" id="nav-tabContent">
            <div
              class="tab-pane fade show active"
              id="waqa"
              role="tabpanel"
              aria-labelledby="list-waqa"
              (click)="openPopup({
                image: '/images/waqa-website.png',
                title: 'Waqa',
                url: 'https://waqa.coffee',
                company: 'Independent Freelance',
                duration: '2024',
                content: 
                '<p>Waqa Coffee is an artisnal coffee brand that celebrates the rich, diverse heritage of Indian coffee, with every order freshly roasted and ground.
                  <ul>
                    <li>Built complete Shopify store from scratch to production.</li>
                    <li>Completely customised theme design.</li>
                    <li>Created custom product meta data for better presentation and classification.</li>
                    <li>Created custom emailers.</li>
                  </ul>
                </p>'
              })">

              <div class="website-poster sticker-animation">
                <div class="poster-wrapper reveal">
                  <div class="circle">
                    <img class="drawn-cta" src="/icons/click-here-white.png" alt="" />
                  </div>
                </div>
                
                <div class="sticky sticker-animation">
                  <div class="poster-wrapper front sticker-animation">
                    <div class="circle sticker-animation">
                      <img class="poster-image sticker-animation" src="/images/waqa-poster.webp" alt="" />
                    </div>
                  </div>
                </div>

                <div class="sticky sticker-animation">
                  <div class="poster-wrapper back sticker-animation">
                    <div class="circle sticker-animation"></div>
                  </div>
                </div>
              </div>
            </div>
            
            <div
              class="tab-pane fade"
              id="makaraetaga"
              role="tabpanel"
              aria-labelledby="list-makaraetaga"
              (click)="openPopup({
                image: '/images/makaraetaga-website.png',
                title: 'Makara-e-Taga (Coming Soon)',
                url: 'https://makaraetaga.com/',
                company: 'Independent Freelance',
                duration: '2025',
                content: 
                '<p>Founded by a mother and daughter duo, Makara-e-taga is a handwoven Banarasi silk apparel brand born from a shared adoration for sarees and a vision of making a difference in the world of fashion.
                  <ul>
                    <li>Built complete Shopify store from scratch to production.</li>
                    <li>Customised theme design.</li>
                    <li>Optimised product meta data and tags to improve search results.</li>
                    <li>Implemented on-page SEO solutions.</li>
                  </ul>
                </p>'
              })">

              <div class="website-poster sticker-animation">
                <div class="poster-wrapper reveal">
                  <div class="circle">
                    <img class="drawn-cta" src="/icons/click-here-white.png" alt="" />
                  </div>
                </div>
                
                <div class="sticky sticker-animation">
                  <div class="poster-wrapper front sticker-animation">
                    <div class="circle sticker-animation">
                      <img class="poster-image sticker-animation" src="/images/makaraetaga-poster.webp" alt="" />
                    </div>
                  </div>
                </div>

                <div class="sticky sticker-animation">
                  <div class="poster-wrapper back sticker-animation">
                    <div class="circle sticker-animation"></div>
                  </div>
                </div>
              </div>

            </div>
            
            <div
              class="tab-pane fade"
              id="vero"
              role="tabpanel"
              aria-labelledby="list-vero"
              (click)="openPopup({
                image: '/images/vero-website.png',
                title: 'Vero',
                url: 'https://myvero.in/',
                company: 'Independent Freelance',
                duration: '2024-2025',
                content: 
                '<p>Vero is India\'s first capsule-based coffee brand that specialises in efficiently delivering expertly chosen and roasted coffee to its customers.
                  <ul>
                    <li>Recovered customer data, order data, and old Wordpress website backup from their website hosting platform.</li>
                    <li>Domain transfer between old Wordpress website and new Shopify website.</li>
                    <li>Created Indian tax-complaint final and pro-forma invoice structures.</li>
                    <li>Created custom product data fields to contain tax-compliant components that also reflect on invoicing.</li>
                    <li>Created custom order reporting script.</li>   
                    <li>Unit tested and fixed issues before new Shopify wesbite went into production.</li>                
                  </ul>
                </p>'
              })">

              <div class="website-poster sticker-animation">
                <div class="poster-wrapper reveal">
                  <div class="circle">
                    <img class="drawn-cta" src="/icons/click-here-white.png" alt="" />
                  </div>
                </div>
                
                <div class="sticky sticker-animation">
                  <div class="poster-wrapper front sticker-animation">
                    <div class="circle sticker-animation">
                      <img class="poster-image sticker-animation" src="/images/vero-poster.webp" alt="" />
                    </div>
                  </div>
                </div>

                <div class="sticky sticker-animation">
                  <div class="poster-wrapper back sticker-animation">
                    <div class="circle sticker-animation"></div>
                  </div>
                </div>
              </div>
              
            </div>

            <div
              class="tab-pane fade"
              id="hala"
              role="tabpanel"
              aria-labelledby="list-hala"
              (click)="openPopup({
                image: '/images/hala-website.png',
                title: 'Hala',
                url: 'https://by-hala.com/',
                company: 'Under Groundwork',
                duration: '2022-2023',
                content: 
                '<p>Designed by Hala Al Shammari, Hala is a non-seasonal clothing brand inspired by the assimilation of the European grace of Lisbon and the daring opulence of Dubai.
                  <ul>
                    <li>Built complete Shopify store from scratch to production.</li>
                    <li>Created custom editorial pages.</li>
                    <li>Incoporated elements from the social media accounts to the website.</li>               
                  </ul>
                </p>'
              })">

              <div class="website-poster sticker-animation">
                <div class="poster-wrapper reveal">
                  <div class="circle">
                    <img class="drawn-cta" src="/icons/click-here-white.png" alt="" />
                  </div>
                </div>
              
                <div class="sticky sticker-animation">
                  <div class="poster-wrapper front sticker-animation">
                    <div class="circle sticker-animation">
                      <img class="poster-image sticker-animation" src="/images/hala-poster.webp" alt="" />
                    </div>
                  </div>
                </div>

                <div class="sticky sticker-animation">
                  <div class="poster-wrapper back sticker-animation">
                    <div class="circle sticker-animation"></div>
                  </div>
                </div>
              </div>

            </div>
          
            <div
              class="tab-pane fade"
              id="mawkini"
              role="tabpanel"
              aria-labelledby="list-mawkini"
              (click)="openPopup({
                image: '/images/mawkini-website.png',
                title: 'Mawkini',
                url: 'https://mawkini.com/',
                company: 'Under Groundwork',
                duration: '2022-2023',
                content: 
                '<p>Inspired by the vibrant beaches of Dubai, Mawkini is a swimwear brand that was brought to life by a beach-loving founder, Maww. 
                  <ul>
                    <li>Built solutions for custom colour swatches for product variants.</li>
                    <li>Created custom designed content pages.</li>
                    <li>Fixed UI issues for all media screen sizes.</li>
                    <li>Unit tested and fixed issues before new Shopify wesbite went into production.</li>               
                  </ul>
                </p>'
              })">

              <div class="website-poster sticker-animation">
                <div class="poster-wrapper reveal">
                  <div class="circle">
                    <img class="drawn-cta" src="/icons/click-here-white.png" alt="" />
                  </div>
                </div>
              
                <div class="sticky sticker-animation">
                  <div class="poster-wrapper front sticker-animation">
                    <div class="circle sticker-animation">
                      <img class="poster-image sticker-animation" src="/images/mawkini-poster.webp" alt="" />
                    </div>
                  </div>
                </div>

                <div class="sticky sticker-animation">
                  <div class="poster-wrapper back sticker-animation">
                    <div class="circle sticker-animation"></div>
                  </div>
                </div>
              </div>

            </div>
            
            <div
              class="tab-pane fade"
              id="leather"
              role="tabpanel"
              aria-labelledby="list-leather"
              (click)="openPopup({
                image: '/images/leather-website.png',
                title: '800 Leather Solutions',
                url: 'https://800leathersolutions.com/',
                company: 'Under Groundwork',
                duration: '2020-2021',
                content: 
                '<p>With a mission to be the \'leaders in luxury leather care\', 800 Leather Solutions provides customised solutions for professional leather and fabric cleaning, repair, restoration, upholstery and reupholstery.
                  <ul>
                    <li>Built and designed complete Wordpress website from scratch to production.</li>
                    <li>Built a custom rewards system for customers from online and offline channels.</li>
                    <li>Created custom fields, templates and admin structures for different types of content pages on the website.</li>
                    <li>Integrated their Salesforce setup with the website and enabled website enquiries to be entered to their database as well.</li>
                    <li>Implemented on-page SEO solutions.</li>               
                  </ul>
                </p>'
              })">

              <div class="website-poster sticker-animation">
                <div class="poster-wrapper reveal">
                  <div class="circle">
                    <img class="drawn-cta" src="/icons/click-here-white.png" alt="" />
                  </div>
                </div>
                
                <div class="sticky sticker-animation">
                  <div class="poster-wrapper front sticker-animation">
                    <div class="circle sticker-animation">
                      <img class="poster-image sticker-animation" src="/images/800-poster.jpg" alt="" />
                    </div>
                  </div>
                </div>

                <div class="sticky sticker-animation">
                  <div class="poster-wrapper back sticker-animation">
                    <div class="circle sticker-animation"></div>
                  </div>
                </div>
              </div>
            </div>

            <div
              class="tab-pane fade"
              id="va"
              role="tabpanel"
              aria-labelledby="list-va"
              (click)="openPopup({
                image: '/images/va-website.png',
                title: 'Valeur Absolue',
                url: 'https://www.valeurabsolue.co.uk/',
                company: 'Under Groundwork',
                duration: '2021',
                content: 
                '<p>With the idea of creating responsible luxury, Valeur Absolue combines the knowledge of aromachology and lithotherapy to create luxury perfumes that not only tingle the senses but also positively impact emotions.
                  <ul>
                    <li>Built complete Wordpress-Woocommerce website from scratch to production.</li>
                    <li>Built the complete UI to match the vision of their design and branding team.</li>
                    <li>Created custom fields, templates and admin structures for different types of content pages on the website.</li>
                    <li>Implemented on-page SEO solutions.</li>               
                  </ul>
                </p>'
              })">
              
              <div class="website-poster sticker-animation">
                <div class="poster-wrapper reveal">
                  <div class="circle">
                    <img class="drawn-cta" src="/icons/click-here-white.png" alt="" />
                  </div>
                </div>
                
                <div class="sticky sticker-animation">
                  <div class="poster-wrapper front sticker-animation">
                    <div class="circle sticker-animation">
                      <img class="poster-image sticker-animation" src="/images/va-poster.jpg" alt="" />
                    </div>
                  </div>
                </div>

                <div class="sticky sticker-animation">
                  <div class="poster-wrapper back sticker-animation">
                    <div class="circle sticker-animation"></div>
                  </div>
                </div>
              </div>

            </div>
            
            <!-- <div
              class="tab-pane fade"
              id="polyafric"
              role="tabpanel"
              aria-labelledby="list-polyafric"
              (click)="openPopup({
                image: '/images/polyafric-website.png',
                title: 'Polyafric',
                url: 'https://polyafric.com/',
                company: 'Independent Freelance',
                duration: '2024',
                content: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed non enim massa. Ut id lorem lacus. Quisque ornare tellus a nisl auctor placerat. Sed posuere, risus sed pharetra semper, risus ex aliquet tortor, sed efficitur elit augue ac nunc. Donec vel tincidunt ex. Donec cursus libero sit amet ligula fermentum lacinia. Suspendisse potenti. Vestibulum dapibus elit nisi, sed semper turpis facilisis a. Phasellus at lacus in ex sodales facilisis porttitor efficitur metus. Maecenas nec dolor et eros lacinia vehicula. Sed a arcu ultrices, aliquet dui a, eleifend nisi. Integer imperdiet leo id orci iaculis consequat. Nullam ac auctor leo, id fermentum odio. Maecenas sit amet magna vel lorem aliquet sollicitudin.'
              })">
              
              <div class="website-poster sticker-animation">
                <div class="poster-wrapper reveal">
                  <div class="circle">
                    <img class="drawn-cta" src="/icons/click-here-white.png" alt="" />
                  </div>
                </div>
                
                <div class="sticky sticker-animation">
                  <div class="poster-wrapper front sticker-animation">
                    <div class="circle sticker-animation">
                      <img class="poster-image sticker-animation" src="/images/polyafric-poster.png" alt="" />
                    </div>
                  </div>
                </div>

                <div class="sticky sticker-animation">
                  <div class="poster-wrapper back sticker-animation">
                    <div class="circle sticker-animation"></div>
                  </div>
                </div>
              </div>

            </div> -->
            
            <div
              class="tab-pane fade"
              id="gotyolo"
              role="tabpanel"
              aria-labelledby="list-gotyolo"
              (click)="openPopup({
                image: '/images/gotyolo-website.png',
                title: 'Gotyolo',
                url: 'https://gotyolo.com/',
                company: 'Under Gotyolo',
                duration: '2019-2020',
                content: 
                '<p>Travel, because You Only Live Once, GoTyolo is all about the love of travel. After extensive research and collaboration with local experts, the company carefully curates and creates immersive group travel expeditions.
                  <ul>
                    <li>Built complete UI of website with HTML, CSS and JavaScript.</li>
                    <li>Built all UI components on React for tech stack transfer.</li>
                    <li>Helped research content and experiences for travel destinations.</li>
                    <li>Implemented on-page SEO solutions.</li>               
                  </ul>
                </p>'
              })">

              <div class="website-poster sticker-animation">
                <div class="poster-wrapper reveal">
                  <div class="circle">
                    <img class="drawn-cta" src="/icons/click-here-white.png" alt="" />
                  </div>
                </div>
                
                <div class="sticky sticker-animation">
                  <div class="poster-wrapper front sticker-animation">
                    <div class="circle sticker-animation">
                      <img class="poster-image sticker-animation" src="/images/gotyolo-poster.svg" alt="" />
                    </div>
                  </div>
                </div>

                <div class="sticky sticker-animation">
                  <div class="poster-wrapper back sticker-animation">
                    <div class="circle sticker-animation"></div>
                  </div>
                </div>
              </div>

            </div>
          </div>
        </div>

        <!-- Modal -->
        <div class="modal fade" id="contentModal" tabindex="-1" aria-labelledby="contentModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-body">
                <div class="popup-image" style="background-image: url('{{ websiteImage }}');"></div>

                <div class="popup-content">
                  <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
                  <a class="website-title" href="{{ websiteUrl }}" target="_blank">{{ websiteTitle }} <i class="bi bi-box-arrow-up-right"></i></a>
                  <p class="website-info">{{ websiteCompany }} | {{ websiteDuration }}</p>
                  <!-- <p class="website-content">{{ websiteContent }}</p> -->
                  <div class="website-content" [innerHTML]="websiteContent"></div>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
  </div>
</div>