@import "../node_modules/bootstrap/dist/css/bootstrap.min.css";
@import "../node_modules/bootstrap-icons/font/bootstrap-icons.css";

.bg-pattern {
    background-color: #131313;
    color: #EAF2EF;
    background-size: 80px 80px;
    background-image:
    linear-gradient(to right, rgba(234, 242, 239, 0.05) 1px, transparent 1px),
    linear-gradient(to bottom, rgba(234, 242, 239, 0.05) 1px, transparent 1px);
}

.disable-hor-scroll {
    max-width: 100%;
    overflow-x: hidden;
}

@media screen and (max-width: 500px) {
    body.modal-open {
        overflow-y: hidden;
        position: fixed;
        left: calc((100vw - 300px) / 2);
    }

    .modal-backdrop.show,
    .modal-backdrop.fade {
        transition: opacity 2s ease;
    }
}